<h1 class = "current-genre"><%= params[:genre]%></h1>

<% if @movies.count ==0 %> 
<h3> No titles in this Genre</h3>

<%else%>
	<% @movies.each do |movie| %>
		<h2><%= link_to movie.title, movie_path(movie)%></h2>
	<%end%>
<%end%>
